In [1]:
import pandas as pd

import json
import requests

pd.set_option('display.max_colwidth', 150)

### Importing data from JSON

We'll be working with the JSON data orientation (data structure) in the form of `record` because it is the most convenient format for work. 

First load data from JSON file using json module:

In [2]:
with open('blockbusters.json') as file:
    data = json.load(file)

In [3]:
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

We've got a list of dictionaries where every dictionary represent a single item/movie with keys as its features:

In [4]:
type(data)

list

In [5]:
len(data)

18

In [6]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

Transform data to dataframe:

In [7]:
df_1 = pd.DataFrame(data)

In [8]:
df_1.head()

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]","{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]","{'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg', 'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'}",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]","{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]","{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'id': 53, 'name': 'Thriller'}]",None,194

***
We can get dataframe straightforwardly using pandas method:

In [9]:
df_2 = pd.read_json('blockbusters.json', orient='record')

In [10]:
df_2.head()

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]","{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]","{'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg', 'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'}",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]","{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]","{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'id': 53, 'name': 'Thriller'}]",None,194

In [11]:
df_1.equals(df_2)

True

In [12]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

It can be noted that columns `genres` and `belong_to_collection` have nested information with lists and dictionaries:

In [13]:
df_2.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [14]:
df_2.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

Well, data need to be flattened.

In [15]:
normalized_1 = pd.json_normalize(data=data, sep="_")

In [16]:
normalized_1.head()

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'id': 53, 'name': 'Thriller'}]",194,NaN,NaN,NaN,NaN,NaN

In [17]:
normalized_2 = pd.json_normalize(data=data, 
                  record_path='genres', 
                  meta=['title', 'id'],
                  record_prefix='genre_')

In [18]:
normalized_2.head()

   genre_id       genre_name              title      id
0        12        Adventure  Avengers: Endgame  299534
1       878  Science Fiction  Avengers: Endgame  299534
2        28           Action  Avengers: Endgame  299534
3        28           Action             Avatar   19995
4        12        Adventure             Avatar   19995

Note that due to the fact that there are different levels of nesting we get different dataframes and such dataframes will need to be combined for future work.

***
### Working with API

Gonna working with `The Movie Database (TMDB) API`.

In [2]:
api_key  = "api_key=****"

In [3]:
movie_id = 140607

In [4]:
movie_api = "https://api.themoviedb.org/3/movie/"

In [5]:
url = f'{movie_api}{movie_id}?{api_key}'

In [6]:
url

'https://api.themoviedb.org/3/movie/140607?api_key=****'

In [24]:
resp = requests.get(url)
resp

In [25]:
data = resp.json()

In [26]:
data

{'adult': False,
 'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 68.589,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.315,
 'vote_count': 17330}

In [27]:
type(data)

dict

Transform this data to a dataframe:

In [32]:
df = pd.Series(data).to_frame().T

In [33]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]",http://www.starwars.com/films/star-wars-episode-vii,140607,tt2488496,en,Star Wars: The Force Awakens,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17330

And flatten the data:

In [34]:
pd.json_normalize(data, sep = '_')

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]",http://www.starwars.com/films/star-wars-episode-vii,140607,tt2488496,en,Star Wars: The Force Awakens,"Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.",...,Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17330,10,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [35]:
pd.json_normalize(data=data, 
                  record_path='genres', 
                  meta='title')

    id             name                         title
0   12        Adventure  Star Wars: The Force Awakens
1   28           Action  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [36]:
pd.json_normalize(data=data, 
                  record_path='production_companies', 
                  meta='title')

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

In [37]:
pd.json_normalize(data=data, 
                  record_path='production_countries', 
                  meta='title')

  iso_3166_1                      name                         title
0         US  United States of America  Star Wars: The Force Awakens

***
Gonna use `discover` module of TMDB API to find the movie that meets certain conditions.

In [39]:
discover_api = "https://api.themoviedb.org/3/discover/movie"

In [43]:
query_1 = 'primary_release_date.gte=2020-01-01'

In [44]:
query_2 = 'primary_release_date.lte=2020-02-29'

In [45]:
url = f'{discover_api}?{api_key}&{query_1}&{query_2}'

In [46]:
data = requests.get(url).json()

In [47]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/yy85YPsJEVxCy97A89cAwdsCUXa.jpg',
   'genre_ids': [18, 10749],
   'id': 677115,
   'original_language': 'ko',
   'original_title': '비뇨기과 여의사들 2',
   'overview': 'Jin Hee is a female urologist who runs a urology department with few patients. One day, a new nurse, Yeon-hee, comes in and works. However, she throws her her whole body in the treatment of patients with an unusual professional spirit. This fact is quickly rumored and patients flock in. Skilled female doctor Jin Hee also starts hot treatment to save the hospital...',
   'popularity': 169.234,
   'poster_path': '/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg',
   'release_date': '2020-02-20',
   'title': 'Female Urologists 2',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 5},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil genius Dr. Robotnik. Now it’s super-villain vs. super-sonic in an all-out race across the globe to stop Robotnik from using Sonic’s unique power for world domination.',
   'popularity': 133.611,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 8285},
  {'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 105.447,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer: Goblin's Crown",
   'video': False,
   'vote_average': 7.6,
   'vote_count': 173},
  {'adult': False,
   'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 104.214,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 7126},
  {'adult': False,
   'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 104.08,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7,
   'vote_count': 8973},
  {'adult': False,
   'backdrop_path': '/tmS9oXeMVs6njcxndDKsjJSF02H.jpg',
   'genre_ids': [18],
   'id': 552532,
   'original_language': 'en',
   'original_title': 'Charm City Kings',
   'overview': 'Mouse desperately wants to join The Midnight Clique, the infamous Baltimore dirt bike riders who rule the summertime streets. When Midnight’s leader, Blax, takes 14-year-old Mouse under his wing, Mouse soon finds himself torn between the straight-and-narrow and a road filled with fast money and violence.',
   'popularity': 93.537,
   'poster_path': '/8oiMFMarbRpcusASIX4cjVXoZKI.jpg',
   'release_date': '2020-01-27',
   'title': 'Charm City Kings',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 321},
  {'adult': False,
   'backdrop_path': '/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg',
   'genre_ids': [10751, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 91.308,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-01',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.7,
   'vote_count': 3057},
  {'adult': False,
   'backdrop_path': '/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg',
   'genre_ids': [16, 28, 12, 14],
   'id': 571265,
   'original_language': 'ja',
   'original_title': 'デジモンアドベンチャー LAST EVOLUTION 絆',
   'overview': 'Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt and others continue to work on Digimon incidents and activities that help people with their partner Digimon. When an unprecedented phenomenon occurs, the DigiDestined discover that when they grow up, their relationship with their partner Digimon will come closer to an end.  As a countdown timer activates on the Digivice, they realize that the more they fight with their partner Digimon, the faster their bond breaks. Will they fight for others and lose their partner? The time to choose and decide is approaching fast. There is a short time before “chosen children” will become adults. This is the last adventure of Tai and Agumon.',
   'popularity': 81.874,
   'poster_path': '/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg',
   'release_date': '2020-02-21',
   'title': 'Digimon Adventure: Last Evolution Kizuna',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 177},
  {'adult': False,
   'backdrop_path': '/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg',
   'genre_ids': [9648, 18, 27, 12, 16],
   'id': 658558,
   'original_language': 'ja',
   'original_title': '劇場版 巨蟲列島',
   'overview': "After an airplane crash during a school trip, Oribe Mutsumi and her classmates were stranded on a seemingly deserted island. Mutsumi found the other survivors, and used her wilderness knowledge to help them. She expects that they will be rescued in about three days, which doesn't seem so long to endure. However, she didn't account for the fact that the island is populated with gigantic killer insects. Her knowledge of butterflies, wasps, and more may be the only thing that will help any of her classmates survive to be rescued!",
   'popularity': 63.833,
   'poster_path': '/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg',
   'release_date': '2020-01-10',
   'title': 'The Island of Giant Insects',
   'video': False,
   'vote_average': 4.4,
   'vote_count': 15},
  {'adult': False,
   'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 63.634,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 186},
  {'adult': False,
   'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg',
   'genre_ids': [53, 878, 27],
   'id': 570670,
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'popularity': 61.126,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'release_date': '2020-02-26',
   'title': 'The Invisible Man',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 4729},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 60.984,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 2966},
  {'adult': False,
   'backdrop_path': '/isBjNHBblzxrzHrAtRbjgkYzAut.jpg',
   'genre_ids': [10749, 18],
   'id': 664413,
   'original_language': 'pl',
   'original_title': '365 dni',
   'overview': 'A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.',
   'popularity': 60.177,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'release_date': '2020-02-07',
   'title': '365 Days',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 7504},
  {'adult': False,
   'backdrop_path': '/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg',
   'genre_ids': [27, 35],
   'id': 664168,
   'original_language': 'en',
   'original_title': 'Fat Ass Zombies',
   'overview': 'In a sleepy town, one man, a wannabe horror film director is about to have his life and the world he knows change forever. Finally, he gets the big break he has been waiting a lifetime for, but its not Hollywood knocking on his door.',
   'popularity': 60.148,
   'poster_path': '/btrers8SNujMJhxjLvjh7AJpN3T.jpg',
   'release_date': '2020-02-18',
   'title': 'Fat Ass Zombies',
   'video': False,
   'vote_average': 4.9,
   'vote_count': 47},
  {'adult': False,
   'backdrop_path': '/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg',
   'genre_ids': [27],
   'id': 648990,
   'original_language': 'es',
   'original_title': 'La casa',
   'overview': 'Responding to an urgent call for help, a police officer becomes trapped by the evil spirits of a cursed house.',
   'popularity': 59.549,
   'poster_path': '/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg',
   'release_date': '2020-01-30',
   'title': 'La Casa',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 77},
  {'adult': False,
   'backdrop_path': '/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg',
   'genre_ids': [27, 878, 53],
   'id': 736509,
   'original_language': 'en',
   'original_title': 'Intersect',
   'overview': 'A group of young Miskatonic University scientists invent a time machine, only to learn that they are being manipulated by mysterious, unseen forces from another dimension.',
   'popularity': 51.598,
   'poster_path': '/e6hgmD0P133bW5EH1kfhscwXN2a.jpg',
   'release_date': '2020-02-12',
   'title': 'Intersect',
   'video': False,
   'vote_average': 5.7,
   'vote_count': 48},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 50.709,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 5171},
  {'adult': False,
   'backdrop_path': '/v7eMYrYpcTJORioMKMgjnzyewWH.jpg',
   'genre_ids': [10749],
   'id': 679057,
   'original_language': 'ko',
   'original_title': '가슴 큰 태희',
   'overview': 'Cha-wook and Min-joo are about to get married. Cha-wook proposes a couple trip to Yong-woo’s wife who is his junior at work. Ji-yeon doesn’t like uncomfortable trips but Yong-woo’s boss forced her. The trip has been decided and Cha-wook plans to stay with Ji-yeon, who he’s been eyeing. Min-joo is forced to join. On the day of the trip, Min-joo finally tells everything to Ji-yeon and Ji-yeon decides to use Cha-wook.',
   'popularity': 50.518,
   'poster_path': '/aKoGgpKn6N04kWQp03LSAweN3dn.jpg',
   'release_date': '2020-02-27',
   'title': 'Bosomy Tae-hee',
   'video': False,
   'vote_average': 8.3,
   'vote_count': 3},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 47.07,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2491},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [28, 27, 878, 53],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 42.076,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2525}],
 'total_pages': 255,
 'total_results': 5092}

In [48]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/yy85YPsJEVxCy97A89cAwdsCUXa.jpg', 'genre_ids': [18, 10749], 'id': 677115, 'original_language': 'ko', 'original...",255,5092
1,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg', 'genre_ids': [28, 878, 35, 10751], 'id': 454626, 'original_language': 'en', ...",255,5092
2,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg', 'genre_ids': [16, 12, 28, 14], 'id': 631132, 'original_language': 'ja', 'ori...",255,5092
3,1,"{'adult': False, 'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg', 'genre_ids': [53, 28, 80], 'id': 38700, 'original_language': 'en', 'original...",255,5092
4,1,"{'adult': False, 'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg', 'genre_ids': [28, 80], 'id': 495764, 'original_language': 'en', 'original_ti...",255,5092
5,1,"{'adult': False, 'backdrop_path': '/tmS9oXeMVs6njcxndDKsjJSF02H.jpg', 'genre_ids': [18], 'id': 552532, 'original_language': 'en', 'original_title'...",255,5092
6,1,"{'adult': False, 'backdrop_path': '/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg', 'genre_ids': [10751, 14, 12], 'id': 448119, 'original_language': 'en', 'orig...",255,5092
7,1,"{'adult': False, 'backdrop_path': '/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg', 'genre_ids': [16, 28, 12, 14], 'id': 571265, 'original_language': 'ja', 'ori...",255,5092
8,1,"{'adult': False, 'backdrop_path': '/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg', 'genre_ids': [9648, 18, 27, 12, 16], 'id': 658558, 'original_language': 'ja'...",255,5092
9,1,"{'adult': False, 'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg', 'genre_ids': [27], 'id': 575088, 'original_language': 'ru', 'original_title'...",255,5092
10,1,"{'adult': False, 'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg', 'genre_ids': [53, 878, 27], 'id': 570670, 'original_language': 'en', 'origin...",255,5092
11,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg', 'genre_ids': [12, 10751, 18], 'id': 481848, 'original_language': 'en', 'orig...",255,5092
12,1,"{'adult': False, 'backdrop_path': '/isBjNHBblzxrzHrAtRbjgkYzAut.jpg', 'genre_ids': [10749, 18], 'id': 664413, 'original_language': 'pl', 'original...",255,5092
13,1,"{'adult': False, 'backdrop_path': '/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg', 'genre_ids': [27, 35], 'id': 664168, 'original_language': 'en', 'original_ti...",255,5092
14,1,"{'adult': False, 'backdrop_path': '/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg', 'genre_ids': [27], 'id': 648990, 'original_language': 'es', 'original_title'...",255,5092
15,1,"{'adult': False, 'backdrop_path': '/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg', 'genre_ids': [27, 878, 53], 'id': 736509, 'original_language': 'en', 'origin...",255,5092
16,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg', 'genre_ids': [10751, 16, 12, 35, 14], 'id': 508439, 'original_language': 'en...",255,5092
17,1,"{'adult': False, 'backdrop_path': '/v7eMYrYpcTJORioMKMgjnzyewWH.jpg', 'genre_ids': [10749], 'id': 679057, 'original_language': 'ko', 'original_tit...",255,5092
18,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg', 'genre_ids': [10749, 18], 'id': 342470, 'original_language': 'en', 'original...",255,5092
19,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg', 'genre_ids': [28, 27, 878, 53], 'id': 443791, 'original_language': 'en', 'or...",255,5092

In [49]:
pd.DataFrame(data['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/yy85YPsJEVxCy97A89cAwdsCUXa.jpg,"[18, 10749]",677115,ko,비뇨기과 여의사들 2,"Jin Hee is a female urologist who runs a urology department with few patients. One day, a new nurse, Yeon-hee, comes in and works. However, she th...",169.234,/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg,2020-02-20,Female Urologists 2,False,7.3,5
1,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,"Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil g...",133.611,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.4,8285
2,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,ゴブリンスレイヤー -GOBLIN'S CROWN-,Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information...,105.447,/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg,2020-02-01,Goblin Slayer: Goblin's Crown,False,7.6,173
3,False,/3N316jUSdhvPyYTW29G4v9ebbcS.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,"Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami...",104.214,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.2,7126
4,False,/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn),"Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rar...",104.080,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn),False,7.0,8973
5,False,/tmS9oXeMVs6njcxndDKsjJSF02H.jpg,[18],552532,en,Charm City Kings,"Mouse desperately wants to join The Midnight Clique, the infamous Baltimore dirt bike riders who rule the summertime streets. When Midnight’s lead...",93.537,/8oiMFMarbRpcusASIX4cjVXoZKI.jpg,2020-01-27,Charm City Kings,False,7.9,321
6,False,/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg,"[10751, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits him...",91.308,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-01,Dolittle,False,6.7,3057
7,False,/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg,"[16, 28, 12, 14]",571265,ja,デジモンアドベンチャー LAST EVOLUTION 絆,"Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt...",81.874,/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg,2020-02-21,Digimon Adventure: Last Evolution Kizuna,False,8.1,177
8,False,/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg,"[9648, 18, 27, 12, 16]",658558,ja,劇場版 巨蟲列島,"After an airplane crash during a school trip, Oribe Mutsumi and her classmates were stranded on a seemingly deserted island. Mutsumi found the oth...",63.833,/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg,2020-01-10,The Island of Giant Insects,False,4.4,15
9,False,/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg,[27],575088,ru,Яга. Кошмар тёмного леса,The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confid...,63.634,/8m5HTXzwewlfXhtZtLlLts53YTW.jpg,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,5.9,186
10,False,/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg,"[53, 878, 27]",570670,en,The Invisible Man,"When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn letha...",61.126,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,2020-02-26,The Invisible Man,False,7.1,4729
11,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplante...,60.984,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,2966
12,False,/isBjNHBblzxrzHrAtRbjgkYzAut.jpg,"[10749, 18]",664413,pl,365 dni,"A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.",60.177,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,2020-02-07,365 Days,False,7.1,7504
13,False,/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg,"[27, 35]",664168,en,Fat Ass Zombies,"In a sleepy town, one man, a wannabe horror film director is about to have his life and the world he knows change forever. Finally, he gets the bi...",60.148,/btrers8SNujMJhxjLvjh7AJpN3T.jpg,2020-02-18,Fat Ass Zombies,False,4.9,47
14,False,/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg,[27],648990,es,La casa,"Responding to an urgent call for help, a police officer becomes trapped by the evil spirits of a cursed house.",59.549,/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg,2020-01-30,La Casa,False,6.3,77
15,False,/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg,"[27, 878, 53]",736509,en,Intersect,"A group of young Miskatonic University scientists invent a time machine, only to learn that they are being manipulated by mysterious, unseen force...",51.598,/e6hgmD0P133bW5EH1kfhscwXN2a.jpg,2020-02-12,Intersect,False,5.7,48
16,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.",50.709,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.8,5171
17,False,/v7eMYrYpcTJORioMKMgjnzyewWH.jpg,[10749],679057,ko,가슴 큰 태희,Cha-wook and Min-joo are about to get married. Cha-wook proposes a couple trip to Yong-woo’s wife who is his junior at work. Ji-yeon doesn’t like ...,50.518,/aKoGgpKn6N04kWQp03LSAweN3dn.jpg,2020-02-27,Bosomy Tae-hee,False,8.3,3
18,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.,47.070,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.7,2491
19,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[28, 27, 878, 53]",443791,en,Underwater,"After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean fl...",42.076,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.3,2525

***
### Import and save the movies dataset to local json file

In [51]:
movie_ids = [0, 299534, 19995, 140607, 299536, 597, 456,
            420818, 24428, 168259, 99861, 678987, 123]

In [52]:
json_list = []
for movie in movie_ids:
    url = f'https://api.themoviedb.org/3/movie/{movie}?{api_key}'
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)

In [53]:
df = pd.DataFrame(json_list)

In [55]:
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,...,2019-04-24,2797800564,181,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'}, {'english_name...",Released,Avenge the fallen.,Avengers: Endgame,False,8.278,21765
1,False,/7ABsaBkO1jA2psC8Hy4IDhkID4h.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg', 'backdrop_path': '/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg'}",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,...,2009-12-10,2847246203,162,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Español'}]",Released,Enter the world of Pandora.,Avatar,False,7.517,26035
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]",http://www.starwars.com/films/star-wars-episode-vii,140607,tt2488496,en,Star Wars: The Force Awakens,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17330
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]",https://www.marvel.com/movies/avengers-infinity-war,299536,tt4154756,en,Avengers: Infinity War,...,2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Xhosa', 'iso_639_1': 'xh', 'name': ''}]",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.266,25407
4,False,/3WjbxaqYB4vAbdUfdr5vbglD2JZ.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",,597,tt0120338,en,Titanic,...,1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'French', 'iso_639_1': 'fr', 'name': 'Français'}, {'english_n...",Released,Nothing on Earth could come between them.,Titanic,False,7.875,21517

Sort by revenue and save to json file:

In [57]:
df.sort_values('revenue', ascending=False, inplace=True)

In [58]:
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1,False,/7ABsaBkO1jA2psC8Hy4IDhkID4h.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg', 'backdrop_path': '/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg'}",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,...,2009-12-10,2847246203,162,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Español'}]",Released,Enter the world of Pandora.,Avatar,False,7.517,26035
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,...,2019-04-24,2797800564,181,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'}, {'english_name...",Released,Avenge the fallen.,Avengers: Endgame,False,8.278,21765
4,False,/3WjbxaqYB4vAbdUfdr5vbglD2JZ.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",,597,tt0120338,en,Titanic,...,1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'French', 'iso_639_1': 'fr', 'name': 'Français'}, {'english_n...",Released,Nothing on Earth could come between them.,Titanic,False,7.875,21517
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]",http://www.starwars.com/films/star-wars-episode-vii,140607,tt2488496,en,Star Wars: The Force Awakens,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17330
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]",https://www.marvel.com/movies/avengers-infinity-war,299536,tt4154756,en,Avengers: Infinity War,...,2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Xhosa', 'iso_639_1': 'xh', 'name': ''}]",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.266,25407

In [59]:
df.to_json('movies_by_revenue.json', 
           orient='records')

And check if data has been saved:

In [60]:
with open("movies_by_revenue.json") as file:
    data = json.load(file)

In [61]:
pd.json_normalize(data)

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,False,/7ABsaBkO1jA2psC8Hy4IDhkID4h.jpg,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and prot...",...,Enter the world of Pandora.,Avatar,False,7.517,26035,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg,NaN
1,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,"After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of rem...",...,Avenge the fallen.,Avengers: Endgame,False,8.278,21765,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,False,/3WjbxaqYB4vAbdUfdr5vbglD2JZ.jpg,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",,597,tt0120338,en,Titanic,"101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and ...",...,Nothing on Earth could come between them.,Titanic,False,7.875,21517,NaN,NaN,NaN,NaN,NaN
3,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}]",http://www.starwars.com/films/star-wars-episode-vii,140607,tt2488496,en,Star Wars: The Force Awakens,"Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.",...,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17330,10.0,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]",https://www.marvel.com/movies/avengers-infinity-war,299536,tt4154756,en,Avengers: Infinity War,"As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged f...",...,An entire universe. Once and for all.,Avengers: Infinity War,False,8.266,25407,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 18, 'name': 'Drama'}]",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival...",...,The King has Returned.,The Lion King,False,7.140,8647,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
6,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}]",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,"When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S...",...,Some assembly required.,The Avengers,False,7.706,27502,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
7,False,/cHkhb5A4gQRK6zs6Pv7zorHs8Nk.jpg,190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}, {'id': 12, 'name': 'Adventure'}]",https://www.thefastsaga.com/fast-saga/ff7,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.,...,Vengeance hits home,Furious 7,False,7.239,9295,9485.0,The Fast and the Furious Collection,/yvr1Ziehgps1VJyug8nnezTJRJW.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
8,False,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,365000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}]",http://marvel.com/movies/movie/193/avengers_age_of_ultron,99861,tt2395427,en,Avengers: Age of Ultron,"When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the...",...,A New Age Has Come.,Avengers: Age of Ultron,False,7.290,20339,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
9,False,/jOuCWdh0BE6XPu2Vpjl08wDAeFz.jpg,4000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id': 14, 'name': 'Fantasy'}]",,123,tt0077869,en,The Lord of the Rings,The Fellowship of the Ring embark on a journey to destroy the One Ring and end Sauron's reign over Middle-earth.,...,Fantasy...beyond your imagination,The Lord of the Rings,False,6.570,668,NaN,NaN,NaN,NaN,NaN
10,False,None,0,[],,678987,tt6116270,en,Hancı,"Turhan (Sadri Alışık) is a young man with a happy marriage. They have a little daughter. On some evenings, her singer friend Leyla (Figen Say) at ...",...,,Hancı,False,0.000,0,NaN,NaN,NaN,NaN,NaN

In [62]:
pd.json_normalize(data, 'genres', 'title')

       id             name                         title
0      28           Action                        Avatar
1      12        Adventure                        Avatar
2      14          Fantasy                        Avatar
3     878  Science Fiction                        Avatar
4      12        Adventure             Avengers: Endgame
5     878  Science Fiction             Avengers: Endgame
6      28           Action             Avengers: Endgame
7      18            Drama                       Titanic
8   10749          Romance                       Titanic
9      12        Adventure  Star Wars: The Force Awakens
10     28           Action  Star Wars: The Force Awakens
11    878  Science Fiction  Star Wars: The Force Awakens
12     14          Fantasy  Star Wars: The Force Awakens
13     12        Adventure        Avengers: Infinity War
14     28           Action        Avengers: Infinity War
15    878  Science Fiction        Avengers: Infinity War
16     12        Adventure                 The Lion King
17  10751           Family                 The Lion King
18     16        Animation                 The Lion King
19     18            Drama                 The Lion King
20    878  Science Fiction                  The Avengers
21     28           Action                  The Avengers
22     12        Adventure                  The Avengers
23     28           Action                     Furious 7
24     53         Thriller                     Furious 7
25     80            Crime                     Furious 7
26     12        Adventure                     Furious 7
27     28           Action       Avengers: Age of Ultron
28     12        Adventure       Avengers: Age of Ultron
29    878  Science Fiction       Avengers: Age of Ultron
30     12        Adventure         The Lord of the Rings
31     16        Animation         The Lord of the Rings
32     14          Fantasy         The Lord of the Rings